<div class="article-share-box">
  <div class="article-share-links">
    <a href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(url) %>" class="article-share-twitter" target="_blank" title="Twitter"></a>
    <a href="https://www.facebook.com/sharer.php?u=<%= encodeURIComponent(url) %>" class="article-share-facebook" target="_blank" title="Facebook"></a>
    <a href="https://www.linkedin.com/shareArticle?url=<%= encodeURIComponent(url) %>" class="article-share-linkedin" target="_blank" title="LinkedIn"></a>
    <a href="https://plus.google.com/share?url=<%= encodeURIComponent(url) %>" class="article-share-google" target="_blank" title="Google+"></a>
  </div>
</div>
