<div id="contact-widget">
  <div><%= __('contact') %>:</div>
  <p><%- __('contact_widget.before_email') %> <%- mail_to(config.email, __('contact_widget.email')) %> <%- __('contact_widget.after_email') %></p>
</div>
