// http://codepen.io/shshaw/full/gEiDt
absolute-center(width, height = width)
  // margin: auto
  // position: absolute
  // top: 50%
  // top: 0
  // left: 0
  // bottom: 0
  // right: 0
  // width: width
  // height: height
  // overflow: auto
  width: width
  height: height
  position: absolute
  top: 50%
  left: 50%
  margin-top: width * -0.5
  margin-left: height * -0.5
