// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 1024px)"
mq-lt-desktop = "screen and (max-width: 1024px)"

// Colors
dark-bck-color = #1D1F21
light-font-color = #c9cacc
dark-text-color = #333333
link-color = #2bbc8a
border-color = #ddd
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39
