#page-nav
  text-align: center
  color: lighten(dark-text-color, 30%)
  span, a
    padding: 10px 10px
    line-height: 1
    height: 2ex
    border-radius: 3px
  a
    &:hover
      background: lighten(dark-bck-color, 70%)
      color: dark-text-color

.post
  &.card
    .content
      p
        margin: 1.1em 0
