#sidebar
  text-align: center
  p
    margin: 3px 0

#about-widget
  margin-bottom: 20px
  .user-image
    max-width: 200px
    margin: 10px auto
    padding: 5px
    border-radius: 3px
    background-color: #fff
    border: 1px solid border-color
    img
      width: 100%
      display: block
